/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 12, ../../sass/screen.scss */
html, body {
  height: 100%;
}

/* line 16, ../../sass/screen.scss */
body {
  color: black;
  font-family: Cambria, "Times New Roman";
  font-size: 18px;
}

/* line 22, ../../sass/screen.scss */
#main {
  box-sizing: border-box;
  min-height: 100%;
  margin-bottom: -50px;
  padding-bottom: 60px;
  padding-top: 4px;
}

/* line 30, ../../sass/screen.scss */
.blog-footer {
  background-color: #1995dc;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 50px;
}
/* line 35, ../../sass/screen.scss */
.blog-footer a {
  color: white;
}

/* line 39, ../../sass/screen.scss */
.bottom-menu {
  line-height: 50px;
  margin: 0 auto;
  overflow: hidden;
}
/* line 43, ../../sass/screen.scss */
.bottom-menu section {
  margin-right: 15px;
}
/* line 45, ../../sass/screen.scss */
.bottom-menu section a {
  padding-left: 15px;
  padding-right: 15px;
}
/* line 48, ../../sass/screen.scss */
.bottom-menu section a:not(:last-child) {
  border-right: solid 1px white;
}

/* line 54, ../../sass/screen.scss */
code {
  display: block;
  margin: 15px auto;
}
/* line 57, ../../sass/screen.scss */
code pre {
  display: block;
  padding: inherit;
  margin: inherit;
  font-size: inherit;
  line-height: inherit;
  word-break: inherit;
  word-wrap: inherit;
  color: inherit;
  background-color: inherit;
  border: inherit;
  border-radius: inherit;
}

/* line 71, ../../sass/screen.scss */
.imgLeft {
  float: left;
  margin: 4px 20px auto;
}

/* line 75, ../../sass/screen.scss */
.imgRight {
  float: right;
  margin: 4px auto 10px 20px;
}

/* line 79, ../../sass/screen.scss */
.marginBottom10 {
  margin-bottom: 10px;
}

/* line 83, ../../sass/screen.scss */
.navbar[role="navigation"] .dropdown-menu {
  right: inherit;
}
/* line 87, ../../sass/screen.scss */
.navbar[role="navigation"] a.navbar-brand {
  height: inherit;
}
/* line 90, ../../sass/screen.scss */
.navbar[role="navigation"] a img {
  margin-left: -15px;
}
/* line 93, ../../sass/screen.scss */
.navbar[role="navigation"] a b {
  margin-left: 6px;
  margin-top: 21px;
  float: left;
  display: inline-block;
  font-size: 1.3em;
}
/* line 101, ../../sass/screen.scss */
.navbar[role="navigation"] ul:nth-child(1) {
  margin-top: 15px;
}

/* line 106, ../../sass/screen.scss */
span.framed {
  border: solid 1px #ccc;
  border-radius: 2px;
  background-color: #eaebec;
  display: inline-block;
  margin: -1px auto;
  padding: 0px 4px;
}

/* line 115, ../../sass/screen.scss */
#super-hero {
  float: left;
  font-size: 0.7em;
  font-weight: bold;
  color: #0060A2;
  margin-left: -80px;
  margin-top: 5px;
}
