/* line 1, ../../sass/classes.scss */
.bg-ccc {
  background-color: #ccc;
}

/* line 4, ../../sass/classes.scss */
.bg-eee {
  background-color: #eee;
}

/* line 7, ../../sass/classes.scss */
.blog-footer {
  background-color: #1995dc;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 50px;
  margin-top: 25px;
  margin-bottom: -25px;
}

/* line 15, ../../sass/classes.scss */
.border-radius-base {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* line 18, ../../sass/classes.scss */
.bottom-menu {
  line-height: 50px;
  margin: 0 auto;
  overflow: hidden;
}

/* line 23, ../../sass/classes.scss */
.clickme {
  -webkit-box-shadow: 0 0 6px;
  -moz-box-shadow: 0 0 6px;
  box-shadow: 0 0 6px;
  cursor: pointer;
  display: inline-block;
  padding: 2px 4px;
}

/* line 29, ../../sass/classes.scss */
.dark-red {
  background-color: #a10a0a;
  color: white;
}

/* line 33, ../../sass/classes.scss */
.display-table {
  display: table;
}

/* line 36, ../../sass/classes.scss */
.imgLeft {
  float: left;
  margin: 4px 20px auto;
}

/* line 40, ../../sass/classes.scss */
.imgRight {
  float: right;
  margin: 4px auto 10px 20px;
}

/* line 44, ../../sass/classes.scss */
.marginBottom10 {
  margin-bottom: 10px;
}

/* line 48, ../../sass/classes.scss */
.navbar[role="navigation"] .dropdown-menu {
  right: inherit;
}

/* line 52, ../../sass/classes.scss */
.no-list {
  list-style: none;
}

/* line 55, ../../sass/classes.scss */
.padding20 {
  padding: 20px;
}

/* line 2, ../../sass/elements.scss */
.next-padding20 > * {
  padding: 20px;
}

/* line 7, ../../sass/elements.scss */
.blog-footer a {
  color: white;
}
/* line 10, ../../sass/elements.scss */
.bottom-menu section a {
  padding-left: 15px;
  padding-right: 15px;
}
/* line 13, ../../sass/elements.scss */
.bottom-menu section a:not(:last-child) {
  border-right: solid 1px white;
}
/* line 18, ../../sass/elements.scss */
.navbar[role="navigation"] a.navbar-brand {
  height: inherit;
}
/* line 21, ../../sass/elements.scss */
.navbar[role="navigation"] a img {
  margin-left: -15px;
}
/* line 24, ../../sass/elements.scss */
.navbar[role="navigation"] a b {
  margin-left: 6px;
  margin-top: 27px;
  float: left;
  display: inline-block;
  font-size: 1.3em;
}

/* line 33, ../../sass/elements.scss */
body {
  color: black;
  font-family: Cambria, "Times New Roman";
  font-size: 18px;
}

/* line 38, ../../sass/elements.scss */
code {
  display: table;
  margin: 15px auto 15px 0;
}
/* line 41, ../../sass/elements.scss */
code pre {
  display: block;
  padding: inherit;
  margin: inherit;
  font-size: inherit;
  line-height: inherit;
  word-break: inherit;
  word-wrap: inherit;
  color: inherit;
  background-color: inherit;
  border: inherit;
  border-radius: inherit;
}
/* line 54, ../../sass/elements.scss */
.code-inline code {
  display: inline-block;
  margin: auto;
}

/* line 60, ../../sass/elements.scss */
#review h2 {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  cursor: default;
  font-size: 24px;
  margin: -4px -6px 6px;
  padding: 6px;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
/* line 67, ../../sass/elements.scss */
#review h2:hover {
  background-color: #666;
  color: white;
}
/* line 71, ../../sass/elements.scss */
#review h2 .caret {
  zoom: 2;
  margin-right: 2px;
}

/* line 78, ../../sass/elements.scss */
.no-list h4 {
  margin-left: -20px;
}

/* line 82, ../../sass/elements.scss */
hr[data-param="thick"] {
  border: solid 1px #ccc;
  margin-bottom: 30px;
}

/* line 87, ../../sass/elements.scss */
.bottom-menu section {
  margin-right: 15px;
}
/* line 93, ../../sass/elements.scss */
.sections section:last-child hr.closer {
  display: none;
}
/* line 98, ../../sass/elements.scss */
.sections section a[ng-click^="goTop"] {
  margin-bottom: -12px;
  display: table;
}
/* line 102, ../../sass/elements.scss */
.sections section h4 {
  margin-top: 24px;
}

/* line 108, ../../sass/elements.scss */
span.framed {
  border: solid 1px #ccc;
  border-radius: 2px;
  background-color: #eaebec;
  display: inline-block;
  margin: -1px auto;
  padding: 0px 4px;
}

/* line 117, ../../sass/elements.scss */
li {
  list-style: square;
}
/* line 119, ../../sass/elements.scss */
.dropdown-menu li {
  list-style: none;
}

/* line 124, ../../sass/elements.scss */
ul:not(.dropdown-menu) {
  padding-left: 20px !important;
}
/* line 128, ../../sass/elements.scss */
.navbar[role="navigation"] ul:nth-child(1) {
  margin-top: 15px;
}
/* line 132, ../../sass/elements.scss */
#review ul {
  display: none;
  padding-left: 22px;
}
/* line 135, ../../sass/elements.scss */
#review ul li {
  list-style: none;
}

/* line 1, ../../sass/layout.scss */
html, body {
  height: 100%;
}

/* line 8, ../../sass/screen.scss */
#angular-google {
  margin-left: 20px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  width: 40%;
}
/* line 12, ../../sass/screen.scss */
#angular-google:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 16, ../../sass/screen.scss */
#angulars {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  opacity: 0.85;
  width: 50%;
}
/* line 19, ../../sass/screen.scss */
#angulars:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 23, ../../sass/screen.scss */
#main {
  box-sizing: border-box;
  min-height: 100%;
  margin-bottom: -75px;
  padding-bottom: 60px;
  padding-top: 4px;
}

/* line 30, ../../sass/screen.scss */
#super-hero {
  float: left;
  font-size: 1.6em;
  font-weight: bold;
  color: #A82424;
  margin-left: -80px;
  margin-top: 5px;
}
