/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 12, ../../sass/screen.scss */
.blog-footer {
  background-color: #1995dc;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
/* line 17, ../../sass/screen.scss */
.blog-footer a {
  color: white;
}
/* line 20, ../../sass/screen.scss */
.blog-footer p {
  line-height: 50px;
  margin: 0 auto;
}

/* line 25, ../../sass/screen.scss */
.navbar[role="navigation"] {
  margin-top: 4px;
}
