<ul class="nav navbar-nav navbar-right">
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Workflow<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="/skeleton">Каркас сайта</a></li>
      <li><a href="/dynamic">Динамические данные</a></li>
      <li><a href="/jquery">Использование jQuery</a></li>
      <li><a href="/server">Сервер</a></li>
      <li><a href="/crud">CRUD</a></li>
      <li><a href="/tests">Тестирование</a></li>
      <!--<li class="divider"></li>
      <li class="dropdown-header">Архитектура</li>-->
    </ul>
  </li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Архитектура<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="/controllers">Контроллеры</a></li>
      <li><a href="/scope">Область видимости</a></li>
      <li><a href="/views">Представления</a></li>
      <li><a href="/directives">Директивы</a></li>
      <li><a href="/services">Сервисы</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Ресурсы<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="/learning">Обучение</a></li>
      <li><a href="/best">Лучшие практики</a></li>
    </ul>
  </li>
  <!--<li><a href="#">Link</a></li>
  <li><a href="#">Link</a></li>
  <li><a href="#">Link</a></li>-->
</ul>