<ul class="nav navbar-nav navbar-right">
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Workflow<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li ng-repeat="menu in menus.workflow">
            <a href="/{{menu[0]}}">{{menu[1]}}</a>
        </li>
      <!--<li class="divider"></li>
      <li class="dropdown-header">Архитектура</li>-->
    </ul>
  </li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Архитектура<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li ng-repeat="menu in menus.architecture">
          <a href="/{{menu[0]}}">{{menu[1]}}</a>
      </li>
    </ul>
  </li>
  <li><a href="/test_control">Тест-контроль</a></li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Ресурсы<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li ng-repeat="menu in menus.resources">
            <a href="/{{menu[0]}}">{{menu[1]}}</a>
        </li>
    </ul>
  </li>
</ul>