<div class="row marginBottom10">
	<img class="imgLeft" src="../images/angular-hero.jpg" width="302" height="167" alt=""/>
	<div class="pull-left" style="margin-left:2%">
        <h3>Интенсив-тьюториал по созданию сайта на основе AngularJS.</h3>
        <h1 style="color:brown;">Только для супергероев!</h1>
        <h5>Или тех, кто хотя бы хочет им стать.</h5>
    </div>
</div>
<div class="row marginBottom10" style="padding: 20px;">
<img class="pull-right" src="../images/angular-google.jpg" style="margin-left: 20px; width:40%" alt=""/>
<p>
	<span style="background-color:#A10A0A;border-radius: 4px;color: white;display: table-cell;padding: 20px;">Данный тьюториал задуман как сугубо  практическое пособие. В отличие от большинства других, он посвящён не  какому-либо одному аспекту разработки приложения. Его цель — прежде всего — дать вам видение процесса в целом и познакомить с его основными аспектами и  основными используемыми методами. </span>
<p>При этом некоторые важные моменты, без  которых создание современного приложения невозможно, будут рассмотрены настолько подробно, насколько это необходимо.</p>
    
<p>Иначе говоря, здесь применён подход &laquo;от общего к частному&raquo;. </p>
</div>
<div class="row marginBottom10">
<img style="width:51%" class="imgLeft" src="../images/angulars.jpg" alt=""/>
<p>
  Самым общим в данном случае является создание сайта как такового, в простейшем варианте — его каркаса, структуры. </p>
<p>Далее будет рассмотрен второй важнейший вопрос — оперирование динамическими данными. Здесь в общих чертах будут исследованы основные концепции Angular — scope (области видимости), модули, контроллеры, директивы, сервисы и т.п., а также базисный архитектурный паттерн MVC. </p>
<p>Более подробно об этом можно узнать в секции <a href="architecture">Архитектура</a>. В разделе <a href="resources">Ресурсы</a> приведены ссылки на другие полезные материалы, которые помогут вам углубиться в предмет.</p>
</div>
