<h3>Директивы</h3>
<p>Директивы в Angular бывают 2-х типов: встроенные и пользовательские.</p>
<p><b>Встроенные</b> (built-in) директивы предназначены для назначения определённого поведения HTML-элементам, отсутствующего по умолчанию, добавляя к ним <q>наблюдателей</q> (eventListeners).</p>
<p>Все они начинаются с префикса <q>ng</q>. Наиболее используемые из них: <span class="framed">ng-click</span>, <span class="framed">ng-repeat</span>, <span class="framed">ng-controller</span>, <span class="framed">ng-model</span> и т.п.</p>
<p><a href="http://angular.ru/guide/directive">Подробнее...</a></p>
<p><b>Пользовательские</b> директивы позволяют создавать дополнительные элементы на странице. Отчасти их можно рассматривать как аналог так наз. <a href="http://www.polymer-project.org/">Web-компонентов</a>. Созданный с помощью директивы контент размещается в специально создаваемом для этого блоке. Этот блок может быть:</p>
<ol>
    <li>Стандартным HTML-элементом. Чтобы Angular <q>понимал</q> предназначение этого элемента, он должен либо иметь специальный пользовательский атрибут, либо класс, связанный с директивой.
    <p>Например &#8212</p>
        <span>{{code.code1}}</span> (атрибут): <div click-me1 class="clickme">Клацни меня, я перекрашусь!</div>
        <hr/>
    <span>{{code.code2}}</span> (класс): <div class="clickme my-dir">Клацни меня здесь, мне понравилось!</div>
        <hr/>
    </li>
    <li>Пользовательский элемент, не являющийся обычным HTML-элементом. Ссылка на него так же размещается в директиве.</li>
    <li>HTML-комментарием.</li>
</ol>
<hr/>
<h2>Temp file</h2>
<h3>doTemp1</h3>
<div do-temp1></div>
<h3>doTemp2</h3>
<do-temp2></do-temp2>
<h3>doTemp3</h3>
<div class="do-temp3"></div>
<h3>doLink</h3>
<do-link></do-link>
<h3>doCompile</h3>
<do-compile></do-compile>
<hr/>
<textarea rows="4" name="txtArea" id="txtArea" cols="30" rows="10" ng-model="temp_model"></textarea>
<div>{{temp_model}}</div>
<script src="libs/_highlight/calling.js"></script>