<h3>Директивы</h3>
<p>Директивы в Angular бывают 2-х типов: встроенные и пользовательские.</p>
<p><b>Встроенные</b> (built-in) директивы предназначены для назначения определённого поведения HTML-элементам, отсутствующего по умолчанию, добавляя к ним <q>наблюдателей</q> (eventListeners).</p>
<p>Все они начинаются с префикса <q>ng</q>. Наиболее используемые из них: <span class="framed">ng-click</span>, <span class="framed">ng-repeat</span>, <span class="framed">ng-controller</span>, <span class="framed">ng-model</span> и т.п.</p>
<p><a href="http://angular.ru/guide/directive">Подробнее...</a></p>
<p><b>Пользовательские</b> директивы позволяют создавать дополнительные элементы на странице. Отчасти их можно рассматривать как аналог так наз. <a href="http://www.polymer-project.org/">Web-компонентов</a>. Созданный с помощью директивы контент размещается в специально создаваемом для этого блоке. Этот блок может быть:</p>
<ol>
    <li>Стандартным HTML-элементом. Чтобы Angular <q>понимал</q> предназначение этого элемента, он должен либо иметь специальный пользовательский атрибут, либо класс, связанный с директивой.
    <p>Например &#8212</p>
        <div>&lt;div <b>my-dir</b>&gt;&lt;/div&gt; (атрибут): <div click-me1 class="clickme">Клацни меня, я перекрашусь!</div>
        <bdo>Test here</bdo>
        <pre><code></code></pre>
    </div>
    <div>&lt;div <b>class="my-dir"</b>&gt;&lt;/div&gt; (класс): <div class="clickme my-dir">Клацни меня здесь, мне понравилось!</div></div>
    </li>
    <li>Пользовательский элемент, не являющийся обычным HTML-элементом. Ссылка на него так же размещается в директиве.</li>
    <li>HTML-комментарием.</li>
</ol>
<script src="libs/_highlight/calling.js"></script>