<h3>Обучение</h3>
<ul class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <li class="no-list"><h4>English Resources</h4></li>
    <li><a href="https://angularjs.org">The Official AngularJS site</a></li>
    <li><a href="https://github.com/angular/angular.js/wiki">Angular Wiki (on GitHub)</a></li>
    <li><a href="http://www.sitepoint.com/?s=Angularjs">SitePoint.com</a></li>
    <li><a href="http://pluralsight.com/training/Courses/Find?highlight=true&searchTerm=Angularjs">PluralSight.com</a></li>
</ul>
<ul class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <li class="no-list"><h4>Русскоязычные ресурсы</h4></li>
    <li><a href="http://angular.ru">Angular на русском</a></li>
</ul>
