<h3>Создание каркаса сайта</h3>
<ol>
  <li>Создать основной файл (точку входа). Как правило, это &#8212; index.html</li>
  <li>Создать внутри файла-точки входа блок для загрузки контента: </li>
  <code>&lt;ng-view&gt;&lt;/ng-view&gt;</code>
  <li>Создать директорию для шаблонов (например, &#8212; &quot;templates&quot;) и файлы для контента соответствующих разделов.</li>
  <li>Создать контроллеры для шаблонов.</li>
  <li>Настроить роутинг. На этом моменте необходимо остановиться подробнее. Вот пример файла с роутингом:
<code>
<pre>'use strict';
var app = angular.module('tApp',[])
  .config( function($routeProvider, $locationProvider){
    $routeProvider
        .when('/',{
            templateUrl:'templates/default.html',
            controller: 'defaultController'
        })
        .when('/skeleton',{
            templateUrl:'templates/skeleton.html',
            controller: 'skeletonController'
        })
        .when('/contacts',{
            templateUrl:'templates/contacts.html',
            controller: 'contactsController'
        })
        .when('/test',{
            templateUrl:'templates/test.html',
            controller: 'testController'
        })
        .otherwise({
            templateUrl:'templates/404.html',
            controller: 'defaultController'
        });
    $locationProvider.html5Mode(true);
});
</pre>
</code>
<p>Как можно заметить, данный файл является основным модулем приложения, а роутинг задаётся в его конфигурации. Чтобы всё это работало, следует передать модулю встроенный angular-сервис <span class="framed">$routeProvider</span>, являющийся компонентом родительского сервиса <span class="framed">$route</span>. </p>
<p>Обратите внимание, что здесь задействован ещё один встроенный сервис &#8212; <span class="framed">$locationProvider</span>, в конце конфигуратора. Если </p>
<p>Разбор URL осуществляется методом <span class="framed">.when()</span>, который определяет, какие шаблон и контроллер соответствуют разделу, загружаемому по текущему адресу. Для того, чтобы обрабатывать неизвестные роутеру URL, используйте метод .otherwise. В частности, таким образом можно перенаправлять пользователя на страницу 404.</p>
  </li>
</ol>
