<h3>Тест-контроль</h3>
<hr/>
<test-control/>
<!--<h4><a name="контроллеры"></a>Контроллеры</h4>
<ul>
  <li>Как создаётся контроллер?</li>
  <li>Каким образом контроллер может получить доступ к  другим объектам Angular и к каким?</li>
</ul>
<h4><a name="сервисы"></a>Сервисы</h4>
<ul>
  <li>Какая функция и какого объекта создаёт  пользовательский сервис? </li>
  <li>Какой тип данных возвращает сервис?</li>
  <li>Как синтаксис передачи контроллеру имени сервиса  различается для встроенного и пользовательского сервисов?</li>
  <li>Что будет, если во втором случае использовать  синтаксис, предназначенный для первого?</li>
  <li>Что такое $q и для  чего нужен?</li>
  <li>В чём разница между $http  и $resource?</li>
  <li>Какие параметры принимает сервис $resource?</li>
  <li>Как осуществляется доступ к объекту в $resource — напрямую или через promise?</li>
  <li>Какие CRUD-методы $resource существуют?</li>
  <li>Можно ли создавать собственные CRUD-методы для $resource?</li>
</ul>
<h4><a name="роутинг"></a>Роутинг</h4>
<ul>
  <li>К какому объекту AngularJS относится  роутинг и как он создаётся?</li>
  <li>Какой сервис используется для роутинга?</li>
  <li>В чём разница между $route, $routeProvider,  $http и $location?</li>
</ul>
<h4><a name="директивы"></a>Директивы</h4>
<ul>
  <li>Аналогом какой HTML-парадигмы можно считать директивы?</li>
  <li>Какие типы директив существуют?</li>
  <li>Какие типы объектов во view и какими способами могут  использовать директивы?</li>
  <li>Какой тип данных возвращает директива?</li>
  <li>Для чего нужна функция link  и какие параметры она должна принимать?</li>
  <li>Какие альтернативы использованию функции link существуют?</li>
  <li>Каким образом директивы взаимодействуют с view?</li>
  <li>Что такое restrict и  какие значения у него могут быть?</li>
  <li>Для чего в директиве используется сервис $compile и как он применяется? Может ли $compile  взаимодействовать с link, в каких случаях и каким  образом?</li>
  <li>Что такое element внутри  директивы и как он используется?</li>
  <li>Что такое parent/isolated  scope для директивы?</li>
  <li>Что такое scope внутри  директивы? В каких случаях его использование необходимо, а в каких — нет?</li>
  <li>Как заместить блок для размещения контента,  возвращаемого директивой, самим контентом?</li>
  <li>Какой приём используется для изолирования  областей видимости одинаковых блоков для директив?</li>
  <li>Могут ли разные директивы взаимодействовать и,  если да, какая опция позволяет это делать?</li>
  <li>Какое свойство позволяет переопределять порядок  вызова для связанных директив?</li>
  <li>Для чего и как используется свойство terminal?</li>
  <li>Как используется изолирование областей видимости  в директиве, возвращающей контент в виде templateUrl  и для чего?</li>
  <li>Какая опция позволяет директиве, обрабатывающей  вложенный элемент, получить к нему доступ, каков её синтаксис и где она  употребляется? Какое свойство должно при этом быть указано в директиве для  родительского элемента и как устанавливается её связь с ним?</li>
  <li>Что такое <a href="https://docs.angularjs.org/api/ng/type/$compile.directive.Attributes">$observe</a> и какие параметры этот метод должен принимать?</li>
  <li>Для чего используется метод <a href="https://docs.angularjs.org/api/ng/type/$compile.directive.Attributes">$set</a>?</li>
</ul>
<h4>Библиотеки</h4>
<ul>
  <li>promise </li>
</ul>
<p></p>-->