<h3>Тест-контроль</h3>
<hr/>
<a class="display-table" href="javascript:void(0)" ng-click="scrollTo(key)" ng-repeat="(key,val) in contents">{{val.header}}</a>
<hr data-param="thick" />
<div class="sections">
    <section ng-repeat="(key,val) in contents">
        <h4><a name="{{key}}"></a>{{val.header}}</h4>
        <ul class="code-inline">
            <li ng-repeat="q in val.data">
                <span ng-bind-html-unsafe="q"></span>
            </li>
        </ul>
        <a href="javascript:void(0)" ng-click="goTop()">^вверх</a>
        <hr class="closer"/>
    </section>
</div>
<br/>